<section class="login-page  mt-auto">
    <div class="container">
        <div class="row">
            <div class="login-form p-auto col-12">
                <h2>Login</h2>
                <p>{{error}}</p>
                <form action="/login" method="post" class="log">
                    <label >Username</label><br>
                    <input type="text" name="username"><br>
                    <label >Password</label><br>
                    <input type="password" name="password"><br>
                    <button type="submit" >Log in</button>
                    <br>
                </form>
            </div>
        </div>
    </div> 
</section>