<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table">
                     
  <thead>
   
    <tr>
      {{!-- <th scope="col">No</th> --}}
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Brand</th>
      <th scope="col">price</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <td><img width="50px"; src="{{this.imageUrl}}" alt=""></td>
      <td>{{this.name}}</td>
      <td>{{this.brand}}</td>
      <td> {{this.price}}</td>
    </tr>
  </tbody>
  {{/each}}
</table>
            </div>
        </div>
    </div>
</section>